<footer class="footer p-10 bg-base-200 text-base-content rounded-box mt-6 border border-base-300">
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About</a>
    <a class="link link-hover">Careers</a>
    <a class="link link-hover">Contact</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms</a>
    <a class="link link-hover">Privacy</a>
    <a class="link link-hover">Cookies</a>
  </nav>
</footer>